{{>_navbar}}
<main class="flex-fill mt-5 h-100 pt-5 w-100 ">
        <div class="container d-flex flex-column h-100 w-100">
            <div class="row d-flex justify-content-sd-start justify-content-lg-center w-100 ">
                <div class="col-sd-12 col-lg-8">     
                    <div class="d-flex w-100 justify-content-between mb-3">
                        <h1 class="">Propostas Enviadas</h1>   
                        <a role="button" class="btn align-self-center justify-self-end" href="/propostas/recebidas" >Propostas Recebidas</a>
                    </div>
                    <div class="accordion" id="divPropostas">

                        {{#each personalizacoes}}
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed pedidos" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#proposta0000{{id}}">
                                        <b>Proposta: {{Produto.nomeProd}}</b>
                                        <span class="mx-1">{{formatDate updatedAt "DD/MM/YYYY HH:mm:ss"}}</span>
                                    </button>
                                </h2>
                                <div id="proposta0000{{id}}" class="accordion-collapse collapse" data-bs-parent="#divPropostas">
                                    <div class="accordion-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    {{#if (isRespondido status)}}
                                                    <th>Responder</th>
                                                    <th class="text-center"> Status  </th>
                                                    <th class="text-end"></th>
                                                    {{else}}
                                                    <th>Visualizar</th>
                                                    <th class="text-center"> Status  </th>
                                                    <th class="text-end"></th>
                                                    {{/if}}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="">
                                                            <a href="propostas/visualizarCliente?proposta={{id}}"><button class="tela btn btn-lg  "><i class="bi bi-eye"></i></button></a>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">{{status}}</td>
                                                    <td class="text-end"></td>
                                                </tr>
                                            </tbody>
                                            
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {{else}}
                            <h4 class="text-center">Nenhuma proposta foi enviada</h4>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>                 
    </main>